body {
    width: 1000px;
    margin: 0 calc(50% - 500px) 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px;
}


.main {
    width: 170px;
    font-family: system-ui, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

.header {
    color: #e36858;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
}

.logotipas {
    width: 140px;
    height: 140px;
    display: inline;
}